.bingo--board--cell {
  display: inline-flex;
  margin: 0;
  width: 20%;
  height: 20%;
  justify-content: center;
  align-items: center;
  border: 1px solid #000000;
  box-sizing: border-box;
  font-size: 16px;
  cursor: pointer;

  &:hover {
    background-color: aqua;
  }
}

.picked {
  font-size: white;
  background-color: red !important;
}
