.bingo--completed--lines {
  &--wrapper {
    height: 23vh;
    margin-top: 1vh;
    border: 1px dashed black;
  }

  &--title {
    text-align: center;
    margin-top: 0;
  }

  &--bar {
    text-align: center;
    margin: 3px;
  }
}
